


p {
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
	color: rebeccapurple;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #FFC6CA, #F9DCC0);
}

.header-content p {
  margin: 5px 0 0;
  color: rebeccapurple;
  font-size: 16px;
}
div {
  background-color: #F9E6E4;
  padding: 10px;
}
main div,
section div {
  background-color: #F9E6E4;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
}
nav li a {
  display: block;
  min-width: 80px;
  background-color: #FFC6CA;
  padding: 5px 12px;
  text-align: center;
  border-radius: 15px;
}
nav a:hover {
  background-color: #FF9BBF;
}
img {
  display: block;
  margin: 20px auto;
}
body {
  background-color: #FFF4F7;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: plum;
  font-size: 28px;
  padding: 15px 10px;
  background-color: #F9DCC0;
}

.photo-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.photo-row img {
  width: 260px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  margin: 20px auto;
  background-color: pink;
  text-align: center;
  font-family: 'Courier New', sans-serif;
  
}

th{
  padding: 10px;
  border: 2px solid black;
}
td{
	padding: 8px;
	border: 1px solid black;
}

caption {
  font-size: 22px;
  margin-bottom: 10px;
  color: #FF7A9E;
  font-weight: bold;
}

.about-list {
	color: hotpink;
}
li {
	color: hotpink ;
}
footer{
	text-align: center;
}
h2{
	color: lightpink;
	font-size: 20px;
	font-weight: bold;
}
.uofnh-link{
  color: rebeccapurple;
}
.Grind-link{
  color: hotpink;
}
.Playlist-table{
  color: black;
}
